{{- with resources.Get "css/custom-head.css" -}}
    {{- $style := . | minify | fingerprint "sha256" -}}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}" crossorigin="anonymous">
{{- end -}}

{{- with resources.Get "js/custom-head.js" -}}
    {{- $script := . | minify | fingerprint "sha256" -}}
    <script src="{{ $script.RelPermalink }}" integrity="{{ $script.Data.Integrity }}" crossorigin="anonymous"></script>
{{- end -}}

{{- if .IsHome -}}
    {{- with resources.Get "css/latest-updates.css" -}}
        {{- $style := . | minify | fingerprint "sha256" -}}
        <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}" crossorigin="anonymous">
    {{- end -}}
    {{- with resources.Get "css/site-stats.css" -}}
        {{- $style := . | minify | fingerprint "sha256" -}}
        <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}" crossorigin="anonymous">
    {{- end -}}
    <script async src="https://busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
{{- end -}}
