{{- define "main" }}

{{- if .Site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{ .Site.Params.homeInfoParams.Title | markdownify }}</h1>
    </header>
    <div class="entry-content">
        <p>{{ .Site.Params.homeInfoParams.Content | markdownify }}</p>
    </div>
    <footer class="entry-footer">
        <div class="social-icons">
        {{- range .Site.Params.socialIcons }}
            <a href="{{ .url }}" target="_blank" rel="noopener noreferrer me" title="{{ .name }}">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></svg>
                    {{- if eq .name "github" }}
                    <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
                    {{- else if eq .name "email" }}
                    <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
                    <polyline points="22,6 12,13 2,6"></polyline>
                    {{- else if eq .name "rss" }}
                    <path d="M4 11a9 9 0 0 1 9 9"></path>
                    <path d="M4 4a16 16 0 0 1 16 16"></path>
                    <circle cx="5" cy="19" r="1"></circle>
                    {{- end }}
                </svg>
            </a>
        {{- end }}
        </div>
    </footer>
</article>
{{- end }}

{{- $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
{{- $pages = where $pages "Params.hidden" "!=" true }}

{{- if gt (len $pages) 0 }}
<div class="post-list">
{{- range $pages }}
    <article class="post-entry">
        <header class="entry-header">
            <h2>{{ .Title }}</h2>
        </header>
        {{- if (ne (.Param "hideSummary") true) }}
        <div class="entry-content">
            <p>{{ .Summary | plainify | htmlUnescape }}{{ if .Truncated }}...{{ end }}</p>
        </div>
        {{- end }}
        {{- if not (.Param "hideMeta") }}
        <footer class="entry-footer">
            <span>{{ .Date.Format "2006-01-02" }}</span>
            {{- with .Params.tags }}
            <span> · </span>
            {{- range . }}
            <a href="{{ "tags" | absURL }}/{{ . | urlize }}/">#{{ . }}</a>
            {{- end }}
            {{- end }}
        </footer>
        {{- end }}
        <a class="entry-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}"></a>
    </article>
{{- end }}
</div>
{{- end }}

{{- end }}
